.home-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.active-side {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.cart {
    border: 1px solid gray;
    border-radius: 5px;
    height: 1050px;
    padding: 10px;
    margin-right: 10px;
}