.selection-part {
    color: darkcyan;
    margin-left: 5%;
}

.home-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

@media screen and (max-width:500px) {
    .home-container {
        display: block;
    }

}

.active-side {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 50px 50px;
}

@media screen and (max-width:1100px) {
    .active-side {
        grid-template-columns: repeat(2, 1fr);
    }

    .home-container {
        display: block;
    }

}

@media screen and (max-width:500px) {
    .active-side {
        grid-template-columns: repeat(1, 1fr);
    }
}